{
    "env": {
      "test": {
        "plugins": ["@babel/plugin-transform-modules-commonjs"]
      }
    },
    "presets": [
      "es2015",
      [
        "@babel/preset-env",
        {
          "targets": {
            "chrome":50,
            "node": "current"
          }
        }
      ],
      "@babel/preset-react"
    ],
    "plugins": [
      "transform-flow-strip-types",
      "add-module-exports",
      "syntax-async-functions",
      "transform-regenerator",
      "transform-function-bind",
      "transform-object-rest-spread",
      "transform-decorators-legacy",
      "transform-class-properties",
      "transform-export-extensions",
      "transform-runtime"
    ],
    "test": [
        "jest"
    ]
  }
