{
    "presets": ["es2015"],
    "plugins": [
      "transform-flow-strip-types",
      "add-module-exports",
      "syntax-async-functions",
      "transform-regenerator",
      "transform-function-bind",
      "transform-object-rest-spread",
      "transform-decorators-legacy",
      "transform-class-properties",
      "transform-export-extensions",
      "transform-runtime"
    ]
  }
  